In [1]:
# data type
x=5
print (x)
print (type (x))

5
<class 'int'>

In [7]:
string = "Data Analysis"
print (string)
print (type (string))

Data Analysis
<class 'str'>

In [15]:
number1 = "1.44"
print (number1)
print (type (number1))

1.44
<class 'str'>

In [17]:
my_number = float(number1)
print(my_number)
print(type(my_number))

1.44
<class 'float'>

In [18]:
number2 = float (number1)
print (number2)
print (type (number2))

1.44
<class 'float'>

In [22]:
z_1 = True
print (z_1)
print (type(z_1))

z_2 = False
print (z_2)
print (type (z_2))

True
<class 'bool'>
False
<class 'bool'>

In [30]:
n1 = 3 * True
print (n1)
print (type (n1))
n2 = 2 * False
print (n2)
print (type (n2))
n3 = -4.1 * False
print (n3)
print (type (n3))
n4 = -4.1 * True
print (n4)
print (type (n4))
n5 = "abc" * True
print (n5)
print (type (n5))
n6 = "abc" * False
print (n6)
print (type (n6))
print (len (n6))

3
<class 'int'>
0
<class 'int'>
-0.0
<class 'float'>
-4.1
<class 'float'>
abc
<class 'str'>

<class 'str'>
0

In [1]:
z_1 = 2>3
print (z_1)
print (type (z_1))

False
<class 'bool'>

In [3]:
# two string can't be multilied
s1 = "abc" * "ab"
print (s1)

TypeError: can't multiply sequence by non-int of type 'str'

In [7]:
s2 = "abc" *3
print (s2)
print (type(s2))

abcabcabc
<class 'str'>

In [11]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

rounded_pi = round(nearly_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.141592653589793
<class 'float'>
3.14159
<class 'float'>

In [19]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3