In [5]:
# listing
students_list = ["Sabrina", "Samiha", "Shupri", "Dina"]
print (students_list)

['Sabrina', 'Samiha', 'Shupri', 'Dina']

In [7]:
print (type (students_list))
print (len (students_list))

<class 'list'>
4

In [9]:
#indexing
print (" First entry", students_list [0])
print (" Second entry", students_list [1])

print (" last entry", students_list [-1])
print (" last entry", students_list [-2])

 First entry Sabrina
 Second entry Samiha
 last entry Dina
 last entry Shupri

In [17]:
#slicing
print ( students_list [:2])
print (students_list [1:3])
print (students_list [1:2])
print ( students_list [-2:])
print ( students_list [-3: -1])

['Sabrina', 'Samiha']
['Samiha', 'Shupri']
['Samiha']
['Shupri', 'Dina']
['Samiha', 'Shupri']

In [1]:
#Removing item
students_list = ["Sabrina", "Samiha", "Shupri", "Dina"]
students_list .remove ("Sabrina")
students_list .append ("Shurovi")
print (students_list)

['Samiha', 'Shupri', 'Dina', 'Shurovi']

In [31]:
sales = [130, 128, 172, 139, 191, 168,170]
print ("Length of the list:", len (sales))
print ("Entry at index 2:", sales[2])

Length of the list: 7
Entry at index 2: 172

In [33]:
print ("Minimum:", min (sales))
print ("Maximum:", max (sales))

Minimum: 128
Maximum: 191

In [35]:
print ("Total books sold in one week:", sum (sales))

Total books sold in one week: 1098

In [37]:
avg_sales = sum (sales) / len (sales)
print (" Average books sold in one week:", avg_sales)

 Average books sold in one week: 156.85714285714286

In [3]:
menu =["stewed meat with onions", "bean soup", "risotto with trout and shrimp", "fish soup with cream and pnion", "gyro"]
menu .remove ("bean soup") 
menu .append ("roasted beet salad")
print (menu)

['stewed meat with onions', 'risotto with trout and shrimp', 'fish soup with cream and pnion', 'gyro', 'roasted beet salad']

In [6]:
num_customers = [ 137, 147, 135, 128, 170, 174, 165, 146, 126, 159, 
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]
print (num_customers)
print ("average first seven:", sum (num_customers [:7])/ 7)
print ("average last seven:", sum (num_customers [-7:])/ 7)
print ("maximum:", max (num_customers))
print ("minimum:", min (num_customers))

[137, 147, 135, 128, 170, 174, 165, 146, 126, 159, 141, 148, 132, 147, 168, 153, 170, 161, 148, 152, 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]
average first seven: 150.85714285714286
average last seven: 157.0
maximum: 174
minimum: 126

In [8]:
#string to list
students = "Samiha, Sabiha, Shupri, Saba"
my_list = students.split (",")
print (my_list)
print (type (my_list))
print (len (my_list))

['Samiha', ' Sabiha', ' Shupri', ' Saba']
<class 'list'>
4

In [10]:
alphabet = " A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter, The Cupboard under the stairs, 4 private Drive, Little Whinging, Surrey"
letters = alphabet.split (".")
print (letters)
formatted_address = address.split (",")
print (formatted_address)

[' A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['Mr. H. Potter', ' The Cupboard under the stairs', ' 4 private Drive', ' Little Whinging', ' Surrey']

In [12]:
def percentage_growth (num_users, yrs_ago):
    growth = ((num_users[-1]- num_users[-1 - yrs_ago])/num_users[-1 -yrs_ago]) * 100
    return growth

In [14]:
num_users = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]
growth_1_yrs_ago = percentage_growth (num_users, 1)
growth_7_yrs_ago = percentage_growth (num_users, 7)
print (growth_1_yrs_ago)
print (growth_7_yrs_ago)

3.629533421163837
66.15639847417742